*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url(./Picture/pexels-neosiam-+-633520.jpg); */
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-image: linear-gradient(rgb(2, 48, 71),rgb(3, 29, 68)); */
    background-color:rgb(7, 37, 91);
}
.title_img{
    filter: opacity(0.8);
}
.container{
    backdrop-filter: blur(15px);
    background: rgba(9, 121, 208, 0.2);
    /* background-color:rgb(2, 48, 71); */
   border: 2px solid rgba(32, 115, 142, 0.674);
   border-radius: 40px;
    height: 65vh;
    width:120vh;
    margin: auto;
}
.box1{
    border:1px solid rgba(198, 189, 189, 0.482);
    background-color: rgba(166, 169, 171, 0.922);
    border-radius: 10px;
    height: 60px;
    width: 25%; 
    display: flex;
    display: inline-block;
    margin-top: 15px;
    margin-left:32px;
    font-size: 20px;
    /* text-align: right; */
    padding-right: 20px;
    box-shadow: 5px 2px 5px rgba(184, 178, 178, 0.826);
}
.pic1{
    position: relative;
    left:20px;
    bottom: 14px;
}
p{
    text-align: right;
    position: relative;
    top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
.box2{
    border:1px solid rgba(198, 189, 189, 0.482);
    /* background-color: rgba(188, 188, 188, 0.567); */
    border-radius: 10px;
    height: 60px;
    width: 25%; 
    display: flex;
    display: inline-block;
    margin-top: 5px;
    margin-left: 13px;
    font-size: 20px;
    /* text-align: right; */
    padding-right: 20px;
    box-shadow: 5px 2px 5px rgba(184, 178, 178, 0.826);
    position: relative;
    left: 140px;
    background-color: rgba(166, 169, 171, 0.922);
}